@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

.regular-font {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
	color: #b2b5b7;
}

.title-font {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 700;
	font-style: normal;
	font-size: 2.2em;
	color: #f0f0f0;
	text-align: center;
}

.anchor-font {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
	color: #35749b;
}

.anchor-font:hover {
	color: #6dabd2;
}

body {
	background-color: #20262c;
	background-image: url("../data/other/bgalpha.png");
	background-size: 100vw;
	margin-top: 3vh;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	font-size: 62.5%;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.main-div {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	row-gap: 3vh;
	margin-top: 6vh;
}

.wrap-div {
	display: flex;
	flex-flow: row nowrap;
	column-gap: 10vw;
}

.sub-div {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 10px;
}

span {
	cursor: default;
}

a {
	text-decoration: none;
}