body {
	background-color: #222527;
	margin-top: 3vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
span::before {
	display:inline;
    content: "\200D";
 }
span {
	font: 20px "Doppio One", monospace;
	color: #f0f0f0;
	cursor: default;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
img {
	max-width: 480px;
	max-height: 480px;
	margin-bottom: 15px;
}
button {
	border: 2px solid #b2b5b7;
	color: #f0f0f0;
	background-color: #353841;
	border-radius: 5px;
	padding: 5px 5px;
	font: bold 20px "Doppio One", monospace;
	cursor: pointer;
	margin-top: 20px;
}
button:hover {
	color: #222527;
	background-color: #b2b5b7;
}
#settings-div {
	display: flex;
	flex-direction: column;
	row-gap: 2px;
	background-color: #424547;
	padding: 20px;
	border-radius: 5px;
}
#settings-div > span {
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 20px;
}
#poke-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#poke-div > button {
	font-size: 22px;
	padding: 7px 5px;
}
#checkbox-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 2px;
	margin: 0px 70px;
}
#poke-name {
	font-size: 22px;
}
#poke-region {
	font-size: 18px;
	color: #b2b5b7;
}