@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

.regular-font {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 2em;
	color: #f0f0f0;
}

.title-font {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 700;
	font-style: normal;
	font-size: 2.8em;
	color: #f0f0f0;
}

.button-font {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 700;
	font-style: normal;
	font-size: 2em;
	color: #f0f0f0;
	background-color: #31353e;
}

.button-font:hover {
	color: #20262c;
	background-color: #b2b5b7;
}

.button-font-large {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 700;
	font-style: normal;
	font-size: 2.4em;
	color: #f0f0f0;
	background-color: #31353e;
}

.button-font-large:hover {
	color: #20262c;
	background-color: #b2b5b7;
}

.poke-name-font {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 2.4em;
	color: #f0f0f0;
}

.poke-region-font {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 400;
	font-style: normal;
	font-size: 1.9em;
	color: #b2b5b7;
}

.about-anchor-font {
	font-family: "IBM Plex Mono", monospace;
	font-weight: 700;
	font-style: normal;
	font-size: 2em;
	color: #b2b5b7;
	background-color: #2b2f37;
}

.about-anchor-font:hover {
	color: #f0f0f0;
}

body {
	background-color: #20262c;
	background-image: url("../data/other/bgalpha.png");
	background-size: 100vw;
	background-repeat: repeat;
	margin-top: 2vw;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	font-size: 62.5%;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

span::before {
	display:inline;
	content: "\200D";
}

span {
	cursor: default;
}

.title-span {
	text-align: center;
	margin-bottom: 20px;
}

img {
	width: min(480px, 67vh);
	height: min(480px, 67vh);
	margin-bottom: 2vh;
}

button {
	border: 2px solid #b2b5b7;
	border-radius: 5px;
	padding: 5px 5px;
	cursor: pointer;
	margin-top: 20px;
}

input {
	accent-color: #35749b;
}

#settings-div {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 2px;
	background-color: #373f44;
	padding: 20px;
	border-radius: 5px;
}

#poke-div {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

#poke-div > button {
	padding: 7px 5px;
}

#gens-div {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	row-gap: 2px;
	margin: 0vw 5vw;
}

#about-anchor {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0px 30px 20px 0px;
	text-decoration: none;
	padding: 5px;
	border-radius: 5px;
}